.header-wrapper {
    background-color: #ffffff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.342);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

    background-color: #D48FC9;
}

.logo span {
    color: #000;
}

.menu li a {
    color: #000;
}

.main-wrapper {
    background-color: red;
}

.main {
    background-color: var(--secondary-color);
    background-color: #fff;

    display: flex;
    flex-direction: column;
}

.image-div {
    background-color: #FD8E8E;
    background-color: #D48FC9;

    padding: 8em 1em;
}

.image-box {
    background-color: transparent;
    margin: 0 auto;

    position: relative;
    height: 350px;
    width: 350px;
    z-index: 1;

    transform: translateY(0px) scaleY(1);
    transform-origin: 0% 100%;
}

.image-box::before {
    content: " ";
    background: transparent;
    border: none;
    border: 3px solid #FFEECA;
    border-radius: 7px;
    display: block;

    position: absolute;
    height: 350px;
    width: 350px;

    top: 3%;
    right: -3%;
    z-index: -2;
}


.avatar {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 13px;
}


/* Content ////////////////////////////////////////////////*/

.content {
    background-color: white;
    padding: 10em 3em;
}

.content>div {
    margin-bottom: 4em;
}

h1 {
    text-transform: capitalize;
    font-size: 2.5rem;

    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    opacity: 0;
    transform: translateY(100px);
}

.me p {
    font-size: 1.8rem;
    font-weight: 450;
    line-height: 2;
    margin: 1.5em 0;
    word-spacing: 2px;
}

.technical p,
.personal p {
    font-size: 1.2rem;
    line-height: 2;
    margin: 1.5em 0;
    word-spacing: 2px;
}


.sub-heading {
    font-size: 1.8rem;
    font-weight: 350;
    text-transform: capitalize;
}

.cta {
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    margin-right: 1em;
    padding: .8em 3em;
    font-size: 1.2rem;
    font-weight: bolder;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

.cta-primary {
    background-color: #65A8FF;
}

.cta-secondary {
    background-color: #FFF7D6;
    background-color: #FD8E8E;
}

/* End of content ////////////////////////////////////////////////*/



@media screen and (min-width: 760px) {
    .main {
        flex-direction: row;
        justify-content: space-between;
    }

    .image-div {
        flex-basis: 50%;

        padding: 7em 10em;
    }

    .image-box {
        height: 450px;
        width: 450px;
    }

    .image-box::before {
        height: 450px;
        width: 450px;
    }

    .avatar {
        object-fit: contain;
    }



    .content {
        flex-basis: 50%;

        padding: 10em 6em;
        padding-right: 8em;
    }

    .content p {
        text-align: justify;
    }

}